aws-alphafold.zip
*.DS_Store*
.mypy_cache/
**/__pycache__
.taskcat/
.venv/
.vscode/
infrastructure/alphafold-cfn-packaged.yaml
notebooks/data/*
taskcat_outputs/
random_commands.sh
.github/
.pytest_cache/