.venv/
.vscode/
.mypy_cache/
random_commands.sh
aws-alphafold.zip
notebooks/data/*
notebooks/nbhelpers/__pycache__*
notebooks/.DS_Store
.idea
.env
__pycache__/
cdk.out/
notebooks/
.DS_Store
venv37/
__pycache__/
cdk.out/
chalice.out/
infrastructure/cdk.context.json
cdk.context.json
*.zip
code_artifact/